  <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Data scientist with a strong math background and experience in big data, machine learning, and statistics.  Passionate about explaining data science to non-technical business audiences. </p>
                </div>
                <div class="col-lg-4">
                    <p>Hardcore Gamer, Gadgeteer, Zombie Hunter. I love winning.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="" class="btn btn-md btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
                    <div class="row
                    ">
            <div class="list-group">
                <div class="col-lg-12 text-center">
                </div>
            </div>


        </div>    
                                    <div class="row">
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/command.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/Ricon.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/py.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/aws.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/ga.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/google.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                
                
            </div>
            </div>
        </div>
    </section>
