 <!-- Portfolio Grid Section -->
<section id="portfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-3">
                    <div class="list-group">
                      <a href="#portfolio" class="list-group-item active"><h4>Machine Learning </h4></a>

                      <a href="http://rpubs.com/RprogameR/241365" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241365'); return false;"> Random Forest - Sensor - R </a>


                     </div>
                </div>

                <div class="col-md-3">
                    <div class="list-group-">
                      <a href="#portfolio" class="list-group-item active"><h4>Processing</h4></a>

                      <a href="http://rpubs.com/RprogameR/241424" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241424'); return false;"> Data-table Processing - R</a>

                      <a href="http://rpubs.com/RprogameR/241402" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241402'); return false;"> Severe Weather Analysis - R</a>

                      <a href="http://rpubs.com/RprogameR/241412" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241412'); return false;"> Accelerometer Data - R</a>

                      <a href="http://rpubs.com/RprogameR/241416" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241416'); return false;"> Hospital Quality Data - R</a>                      
                      
                     </div>
                </div>

                <div class="col-md-3">
                    <div class="list-group">
                      <a href="#portfolio" class="list-group-item active"><h4>Analysis</h4></a>

                    

                      <a href="http://rpubs.com/RprogameR/241483" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241483'); return false;"> Simulating Exponential Distributions - R</a>

                      <a href="http://rpubs.com/RprogameR/241485" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241485'); return false;"> Hypothesis Testing - R</a>

                      <a href="http://rpubs.com/RprogameR/241488" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241488'); return false;">Multivariate Regression - R</a>

                      <a href="http://rpubs.com/RprogameR/241503" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241503'); return false;"> Active Power Time Series - R</a>       
                      

                      <a href="http://rpubs.com/RprogameR/241509" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241509'); return false;"> Global Emissions - R</a>      

                      <a href="http://rpubs.com/RprogameR/241511" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/241511'); return false;"> Step Activity Monitor - R</a>                                       

                     </div>
                </div>

                <div class="col-md-3">
                    <div class="list-group">
                      <a href="#portfolio" class="list-group-item active"><h4>Apps</h4></a>

                     <a href="https://rprogamer.shinyapps.io/jarvis/" target="_blank" class="list-group-item" onclick="trackOutboundLink('https://rprogamer.shinyapps.io/jarvis/'); return false;"> JARVIS_Text Prediction APP - R</a>
					 
					 <a href="https://rprogamer.shinyapps.io/Prestige/" target="_blank" class="list-group-item" onclick="trackOutboundLink('https://rprogamer.shinyapps.io/Prestige/'); return false;"> Polynomial regression on demand APP - R</a>

                      <a href="http://rpubs.com/RprogameR/234827" target="_blank" class="list-group-item" onclick="trackOutboundLink('http://rpubs.com/RprogameR/234827'); return false;"> Interactive Map - R</a>

                   
                                           
                     </div>
                </div>

            </div>

            
</section>